__pycache__/

# Jetbrains
.idea

# Python venv
venv

# .env files
.*.env
extra.*

# Sphinx docs
source
doc_gen/_build
doc_gen/_static

# Configuration and initator
temp.py
settings/
logs/
filebrowser
*.db

# Build
dist/
*.egg-info
